html {
  color-scheme: dark;
}

p{
   font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   line-height:1,4;
   font-size: 14px;
   font-style: normal;
   text-justify: auto;
}

pre code {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
}


/* Responsive */

@media screen and (max-width: 700px) {
   p{
     font-size:13px
  }
}
