:root{
    --background : #2c2e30;
    --boxes : #0000002a;

    --titres : #9162c7;
    --hover : #E42C64;
    --texte : #c296f5;
    --separations : #9162c7;
}


html{
    background-color: var(--background);
    color: var(--texte);
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor : url("./img/cursor.cur"), auto;
}

header{
    border-bottom: 1px solid var(--separations);
}

footer{
    border-top: 1px solid var(--separations);
    bottom: 0;
}

footer{
    text-align: center;
    padding: 10px;
    color: var(--texte);
}

.badges img{
    height: 31px;
    box-sizing: border-box;
}


#canvas{
    box-sizing: border-box;
    width: 700px;
    background-color: var(--boxes);
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
}

#heading{
    text-align: center;
}

h3{
    font-size: 25px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--titres);

}

h3 img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.project-box{
    text-align: center;
    background-color: var(--boxes);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.project-box > h3{
    color: var(--titres);
    margin-top: 0;
    margin-bottom: 0;
}

.project-box > p{
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.project-box > img {
    float: right;
    width: 64px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

hr{
    width: 100%; 
    height: 1px; 
    background-color: var(--separations); 
    border: none;
}

summary{
    font-size: 20px;
    color: var(--titres);
    cursor: pointer;
}



/* Navbars */

nav {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 7px;
}

nav > a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: revert;
    cursor: pointer;
}

nav > a:hover {
    color: var(--hover);
}


span{
    color: var(--titres);
}

.date{
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    color: var(--titres);
}

ul {
    color:var(--titres);
    list-style: none;
    font-size: 16px;
    text-transform: capitalize;
}

ul a{
    text-decoration: none;
    color: var(--texte);
    font-weight: 800;
    font-size: 1.2em;
}

ul a:hover{
    color:var(--hover);
}



/* Links */

.color-link {
    filter: grayscale(1) brightness(125%);
    -webkit-filter: grayscale(1) brightness(125%);
    transition-duration: 0.6s;
}

.color-link:hover {
    -webkit-filter: none;
    filter: none;
}

.inactive-link {
    filter: grayscale(1) brightness(35%);
    -webkit-filter: grayscale(1) brightness(35%);
}

.glow-link {
    transition-duration: 0.4s;
}

.glow-link:hover {
    filter: drop-shadow(0 0 2px #fff);
    -webkit-filter: drop-shadow(0 0 2px #fff);
}

/* Input things */

button {
    font-size: 18px;
    color: var(--texte);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin: 9px 5px 3px;
    padding: 5px 10px;
    transition-duration: 0.4s;
}

button:hover {
    color: red;
}

.links-wide{
    display: inline-block;
}

.links-wide img{
    width: 25px;
    height: 25px;
}


/* Responsive */

@media screen and (max-width: 700px) {
    #canvas{
        width: 100%;
    }

    #date{
        font-size: 10px;
    }


}