@font-face {
    font-family: Title;
    src: url(../fonts/wayfarers-toy-box.ttf);
}

p{
   font-size: 20px;
   font-family: monospace;
   font-style: normal;
   line-height: calc(1ex / 0.32);
   text-justify: auto;
}

pre code {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
}

#main>h3 {
  margin-top: 0;
}

li{
    margin: 5px;
}

ul{
    margin: 5px;
}

/* Responsive */

@media screen and (max-width: 700px) {
   p{
     font-size:13px
  }
}

