@font-face {
    font-family: Title;
    src: url(../fonts/wayfarers-toy-box.ttf);
}

html {
  color-scheme: dark;
}

p{
   line-height:1,5;
   font-size: 18px;
   font-style: normal;
   text-justify: auto;
   text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;
}

pre code {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
}

#main>h3 {
  margin-top: 0;
}

li{
    margin: 5px;
}

ul{
    margin: 5px;
}

/* Responsive */

@media screen and (max-width: 700px) {
   p{
     font-size:13px
  }
}

