:root{
    --background : #222326;
    --boxes : #000000AF;

    --titres : #9162c7;
    --hover : #c296f5;
    --texte : #c6a0f2;
    --separations : #9162c7;
    --scrollbarin: #9162c7;
    --scrollbarout: #c296f5;
}


html{
    /*
    background-image: url(../img/back_space.webp); 
    background-repeat: repeat;
    background-size: cover;
    */
    color: var(--texte);
    font-family: monospace;
    align-items:center;
}

h3{
    font-family: Title;
}

nav > a:current{
    color: var(--texte);
}

a {
    color: var(--titres);
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: var(--hover);
}

h3 img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/** Navbars **/
.date{
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    color: var(--titres);
}
