body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background-color: #000;
    color: #20C20E;
}

h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

#bookshelves{
    align-items: center;
}

ul{
    list-style-type:none;
}

li{
    display: inline-block;
    margin: 30px;
}



.screen{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(20, 20, 20, 0) 66%, #20c20e38 33%);
    background-size: 100% 9px;
    z-index: 9999;
    animation: scanlines-anim 1.0s linear infinite;
}

@keyframes scanlines-anim {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 15px;
    }
}
