.Terre{
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 9;
    background: radial-gradient(
      ellipse at center,
      rgb(29, 154, 18) 0%,
      rgb(29, 154, 18) 25%,
      rgba(34, 193, 195, 1) 25%,
      rgba(34, 193, 195, 1) 50%,
      rgba(1, 87, 155, 1) 50%,
      rgba(1, 87, 155, 1) 75%,
      rgba(1, 133, 14) 75%,
      rgb(1, 133, 14) 100%
    );
    background-clip: padding-box;
    border: 0 !important;
    background-position: -28px -103px;
    background-size: 175%;
}

.Lune{
    width: 604.8px;
    height: 604.8px;
    margin-top: -302.4px;
    margin-left: -302.4px;
    z-index: 4;
    -webkit-animation: rotation 1200s linear infinite;
            animation: rotation 1200s linear infinite;
}

.Lune::before{
    height: 42px;
    width: 42px;
    background: radial-gradient(
        ellipse at center,
        rgb(163, 163, 163) 0%,
        rgb(160, 160, 160) 30%,
        rgb(175, 175, 175) 60%,
        rgba(240, 240, 240, 1) 100%
    );
    margin-top: -20px;
    margin-left: -20px;
}