:root{
    background-color: #1f1f1f;
}

#sun{
    background-color: #f1c40f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px 5px #f1c40f;
}

.planete{
    position: absolute;
    border-radius: 50%;
    border: 1px solid silver;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.planete::before{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 50%;
}

#mercury{
    animation: rotation 10s infinite linear;
    padding: 100px;
}

#mercury::before{
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    margin: 44px;
}


#venus{
    animation: rotation 15s infinite linear;
    padding: 150px;
}

#venus::before{
    width: 15px;
    height: 15px;
    background-color: #e67e22;
    margin: 56px;
}

#earth{
    animation: rotation 20s infinite linear;
    padding: 200px;
}

#earth::before{
    width: 18px;
    height: 18px;
    background-color: #3498db;
    margin: 70px;
}

#mars{
    animation: rotation 25s infinite linear;
    padding: 250px;
}

#mars::before{
    width: 12px;
    height: 12px;
    background-color: #e74c3c;
    margin: 87px;
}

#jupiter{
    animation: rotation 30s infinite linear;
    padding: 300px;
}

#jupiter::before{
    width: 24px;
    height: 24px;
    background-color: #e67e22;
    margin: 96px;
}

#saturn{
    animation: rotation 35s infinite linear;
    padding: 350px;
}

#saturn::before{
    width: 21px;
    height: 21px;
    background-color: #f1c40f;
    margin: 112px;
    box-shadow: 0 0 3px 3px #f1c40f;
}

#uranus{
    animation: rotation 40s infinite linear;
    padding: 400px;
}

#uranus::before{
    width: 18px;
    height: 18px;
    background-color: #3498db;
    margin: 128px;
}

#neptune{
    animation: rotation 45s infinite linear;
    padding: 450px;
}

#neptune::before{
    width: 17px;
    height: 17px;
    background-color: #e67e22;
    margin: 143px;
}
  
@keyframes rotation{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

