:root{
    background-color: #1f1f1f;
}

.tooltip{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#sun{
    background-color: #f1c40f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px 5px #f1c40f;
    z-index: 9;
}

#sun:hover > .tooltip{
    opacity: 1;
    visibility: visible;
}

.planete{
    position: absolute;
    border-radius: 50%;
    border: 1px solid silver;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.planete::before{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 50%;
}

.planete:hover > .tooltip{
    opacity: 1;
    visibility: visible;
}

#mercury{
    animation: rotation 10s infinite linear;
    padding: 100px;
    z-index: 8;
}

#mercury::before{
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    margin: 44px;
}


#venus{
    animation: rotation 15s infinite linear;
    padding: 150px;
    z-index: 7;
}

#venus::before{
    width: 15px;
    height: 15px;
    background-color: #e67e22;
    margin: 56px;
}

#earth{
    animation: rotation 20s infinite linear;
    padding: 200px;
    z-index: 6;
}

#earth::before{
    width: 18px;
    height: 18px;
    background-color: #3498db;
    margin: 70px;
}

#mars{
    animation: rotation 25s infinite linear;
    padding: 250px;
    z-index: 5;
}

#mars::before{
    width: 12px;
    height: 12px;
    background-color: #e74c3c;
    margin: 87px;
}

#jupiter{
    animation: rotation 30s infinite linear;
    padding: 300px;
    z-index: 4;
}

#jupiter::before{
    width: 24px;
    height: 24px;
    background-color: #e67e22;
    margin: 96px;
}

#saturn{
    animation: rotation 35s infinite linear;
    padding: 350px;
    z-index: 3;
}

#saturn::before{
    width: 21px;
    height: 21px;
    background-color: #f1c40f;
    margin: 112px;
    box-shadow: 0 0 3px 3px #f1c40f;
}

#uranus{
    animation: rotation 40s infinite linear;
    padding: 400px;
    z-index: 2;
}

#uranus::before{
    width: 18px;
    height: 18px;
    background-color: #3498db;
    margin: 128px;
}

#neptune{
    animation: rotation 45s infinite linear;
    padding: 450px;
    z-index: 1;
}

#neptune::before{
    width: 17px;
    height: 17px;
    background-color: #e67e22;
    margin: 143px;
}
  
@keyframes rotation{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

